body{
    background-color:black;
    width:400px;
    margin:auto;
    color:white;
}

#yes{
    color:white;
}

#no{
    color:white;
}
#home{
    color:white;
}

h1{
    color:white;

}

#link{
    color:white;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:whitesmoke;
    
}

#link:hover{
    color:red;
}