#container{
   background-color:goldenrod;
   width:900px;
   height:760px;
    margin:auto;
    
    padding:2px;
}

#game{
    width:800px;
    height:600px;
    margin:auto;
    padding:2px;
}

body{
    margin:auto;
}

#header{
   
    padding:2px;
    text-align:center;
    font-family:bakbak one;

}

#footer{
    
    padding:5px;
    margin-top:10px;
    font-family:bakbak one; 
    text-align:center;
}

body{
    background-image:url(images/jvd.png);
    width:fit-content;
    height:auto;
    background-repeat:no-repeat;
    
    
}

#canvas{
    border: 2px solid black;
}