h1{
    margin-left:825px;
}

div {

    border:1px solid black;
    padding:10px;
    margin-bottom:10px;
}

#content{
    width:750px;
    height:220px;
    
}

#footer{
    margin-top:350px;
    
}

#souls{
    border:1px solid black;
    width:500px;
    height:auto;
    margin-top:20px;
}

body{
    background-image:url()
}

#hobbies{
    position:relative;
    left:1000px;
    top:-566px;
    height:100;
    color:darkgoldenrod;
    background-color:silver;
}

#goat{
    position:relative;
    left:1000px;
    top:-510.5px;
    border:1px solid black;
    width:550px;
    height:auto;
}

#bio{
    background-color:silver;
    color:darkgoldenrod;
}

#hlist{
    font-size:20px;
}